* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: "Jost", sans-serif;
  background-color: black;
}

button {
  font-family: "Righteous", sans-serif;
}

header {
  font-family: "Righteous", sans-serif;
  background-color: black;
  color: white;
  font-size: 500%;
  text-align: center;
  
  background-image: url('data:image/svg+xml,<svg version="1.1" viewBox="0.0 0.0 960.0 540.0" fill="none" stroke="none" stroke-linecap="square" stroke-miterlimit="10" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><clipPath id="g3a873e51cb8_0_14.0"><path d="m0 0l960.0 0l0 540.0l-960.0 0l0 -540.0z" clip-rule="nonzero"/></clipPath><g clip-path="url(%23g3a873e51cb8_0_14.0)"><path fill="%230f0f0f" d="m0 0l960.0 0l0 540.0l-960.0 0z" fill-rule="evenodd"/><path fill="%23ff8dc8" d="m37.627296 483.3596c6.8448524 0 12.3937 -5.5488586 12.3937 -12.393707l0 0c0 6.8448486 5.548851 12.393707 12.393703 12.393707l0 0c-6.8448524 0 -12.393703 5.548828 -12.393703 12.393707l0 0c0 -6.844879 -5.548847 -12.393707 -12.3937 -12.393707z" fill-rule="evenodd"/><path fill="%23ff8dc8" d="m874.7638 66.91863c8.5408325 0 15.464539 -6.9237213 15.464539 -15.464565l0 0c0 8.540844 6.923706 15.464565 15.4646 15.464565l0 0c-8.540894 0 -15.4646 6.9237213 -15.4646 15.464569l0 0c0 -8.540848 -6.923706 -15.464569 -15.464539 -15.464569z" fill-rule="evenodd"/><path fill="%23ff5029" d="m895.9029 428.8399c5.1575317 0 9.338562 -4.1810303 9.338562 -9.338593l0 0c0 5.1575623 4.1810303 9.338593 9.338623 9.338593l0 0c-5.157593 0 -9.338623 4.1810303 -9.338623 9.338562l0 0c0 -5.1575317 -4.1810303 -9.338562 -9.338562 -9.338562z" fill-rule="evenodd"/><path fill="%23ff5029" d="m62.4147 159.73228c10.384693 0 18.80315 -8.418457 18.80315 -18.803146l0 0c0 10.384689 8.418457 18.803146 18.803146 18.803146l0 0c-10.384689 0 -18.803146 8.418457 -18.803146 18.803146l0 0c0 -10.384689 -8.418457 -18.803146 -18.80315 -18.803146z" fill-rule="evenodd"/><path fill="%2300be64" d="m807.9816 188.03412c6.8448486 0 12.393677 -5.5488434 12.393677 -12.393692l0 0c0 6.8448486 5.548889 12.393692 12.393738 12.393692l0 0c-6.8448486 0 -12.393738 5.5488434 -12.393738 12.393707l0 0c0 -6.844864 -5.548828 -12.393707 -12.393677 -12.393707z" fill-rule="evenodd"/><path fill="%23005efe" d="m744.81104 280.80054c10.384705 0 18.803162 -8.418457 18.803162 -18.803162l0 0c0 10.384705 8.418457 18.803162 18.8031 18.803162l0 0c-10.384644 0 -18.8031 8.418457 -18.8031 18.803131l0 0c0 -10.384674 -8.418457 -18.803131 -18.803162 -18.803131z" fill-rule="evenodd"/><path fill="%2300be64" d="m439.89502 132.2664c8.5408325 0 15.464569 -6.9237213 15.464569 -15.464569l0 0c0 8.540848 6.923706 15.464569 15.464569 15.464569l0 0c-8.540863 0 -15.464569 6.9237213 -15.464569 15.464569l0 0c0 -8.540848 -6.9237366 -15.464569 -15.464569 -15.464569z" fill-rule="evenodd"/><path fill="%23005efe" d="m515.0236 60.792652c5.1575317 0 9.338562 -4.1810265 9.338562 -9.338585l0 0c0 5.1575584 4.1810303 9.338585 9.338623 9.338585l0 0c-5.157593 0 -9.338623 4.1810265 -9.338623 9.338581l0 0c0 -5.1575546 -4.1810303 -9.338581 -9.338562 -9.338581z" fill-rule="evenodd"/><path fill="%2300be64" d="m601.54596 316.2139c8.5408325 0 15.464539 -6.923706 15.464539 -15.464569l0 0c0 8.540863 6.923706 15.464569 15.464539 15.464569l0 0c-8.5408325 0 -15.464539 6.9237366 -15.464539 15.464569l0 0c0 -8.5408325 -6.923706 -15.464569 -15.464539 -15.464569z" fill-rule="evenodd"/><path fill="%23ff8dc8" d="m579.82416 307.6509c5.1575317 0 9.338562 -4.1810303 9.338562 -9.338562l0 0c0 5.1575317 4.1810303 9.338562 9.338623 9.338562l0 0c-5.157593 0 -9.338623 4.1810303 -9.338623 9.338593l0 0c0 -5.1575623 -4.1810303 -9.338593 -9.338562 -9.338593z" fill-rule="evenodd"/><path fill="%23ff5029" d="m649.1155 116.40157c6.8448486 0 12.393738 -5.548851 12.393738 -12.3937l0 0c0 6.8448486 5.548828 12.3937 12.393677 12.3937l0 0c-6.8448486 0 -12.393677 5.548851 -12.393677 12.3937l0 0c0 -6.8448486 -5.548889 -12.3937 -12.393738 -12.3937z" fill-rule="evenodd"/><path fill="%2300be64" d="m101.14173 175.93439c5.1575546 0 9.338585 -4.1810303 9.338585 -9.338593l0 0c0 5.1575623 4.1810226 9.338593 9.338585 9.338593l0 0c-5.1575623 0 -9.338585 4.181015 -9.338585 9.338577l0 0c0 -5.1575623 -4.1810303 -9.338577 -9.338585 -9.338577z" fill-rule="evenodd"/><path fill="%23ff8dc8" d="m275.33334 191.08923c5.1575317 0 9.338562 -4.181015 9.338562 -9.338577l0 0c0 5.1575623 4.1810303 9.338577 9.338593 9.338577l0 0c-5.1575623 0 -9.338593 4.1810303 -9.338593 9.338593l0 0c0 -5.1575623 -4.1810303 -9.338593 -9.338562 -9.338593z" fill-rule="evenodd"/></g></svg>');
  
}

header small{
  font-size: 40px;
}

/* Style tab links */
.tablink {
  background-color: #ddd;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 16.6%;
  border-radius: 15px 15px 0 0;
}

.tablink:hover {
  background-color: white;
  color: #111;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 0px 50px 50px 50px;
  height: 500%;
  /* animation: fadeEffect 1s;  Fading effect takes 1 second */
}



/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#Home {background-color: #ff5029;}
#Tuesday {background-color: #ff8dc8;}
#Wednesday {background-color: #005efe;}
#Thursday {background-color: #1ecccc;}
#Friday {background-color: #00be64;}
#Resources {background-color: #ff5029;}



/*HOME CSS content*/
#map { height: 600px; width: 800px; }